*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #EEEEEE;
}
nav{
  background-color: #EEEEEE;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 999;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

/* nav .list-item:hover{
  background-color: #f0f0f0;
} */

nav .list-item a:hover{
  color: #76ABAE;
}

nav li:first-child{
  margin-right: auto;
}

#logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #222831;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 33vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 1);
  /* backdrop-filter: blur(12px); */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(-100%);
  

}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}

.hero{
  width: 100%;
  box-sizing: border-box;
  padding: 150px;
  display: flex;
  flex-direction: row;
  gap: 20%;
  justify-content: center;
  align-items: center;
  background-color: #76ABAE;
  padding-bottom: 140px;

}

.hero .avatar{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid transparent;
  animation: animateBorder 3s infinite;
}
.hero h1{
  font-family: "Mulish", sans-serif;
  font-size: 60px;
  margin: 0;
  display: inline-flex;
  padding-bottom: 10px;
  /* color: #EEEEEE; */
  background: linear-gradient(to right, #222831,#EEEEEE);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero p{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
}
#socials{
  padding-top: 20px;
}
#socials li{
  font-size: 30px;
  margin-right: 10px;
}

#socials li a{
  text-decoration: none;
  font-size: 35px;
}

#socials li a:hover{
  color: #fff;
}
.hero ul{
  margin-right: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.hero ul a{
  text-decoration: none;
  color: #222831;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.hero #stacks li a{
  font-size: 16px;
}


.hero span p{
  margin: 0;
  padding-top: 150px;
  padding-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}


.about{
  width: 100%;
  box-sizing: border-box;
  padding: 90px;
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-bottom: 90px;
}

.about img{
  width: 600px;
  height: 350px;
  border-radius: 30px;
}

.about h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  color: #76ABAE;
  
}
.about h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 40px;
  display: inline-flex;
  color: #31363F;
}

.about p{
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #31363F;
}

.gradient-background {
  background: linear-gradient(300deg, #76ABAE, #EEEEEE);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projects{
  width: 100%;
  box-sizing: border-box;
  padding: 90px;
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
  align-items: center;
  /* background-color: #b3d3d5; */
  /* background-color: #76ABAE; */
  /* background-color: #cde0e2; */
  background-color: #ffffffb3;
  padding-bottom: 90px;
}

.projects img{
  width: 500px;
  height: 350px;
  border-radius: 20px;

}

.projects h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #222831;
  padding-bottom: 20px;
  padding-top: 70px;
  
}

.projects p{
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #222831;
  text-align: left;
}

.projects #section-title{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  padding-bottom: 50px;
  padding-left: 20px;
  color: #76ABAE;
}
.projects #projects-stack{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.projects #projects-access{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.projects #projects-access li a i{
  padding: 5px;
}
.projects #projects-access li a{
  border-radius: 2px;
  background-color: #fff;
  color: #222831;
  border: 1px solid #76ABAE;
  transition: background-color 1s ease;
}

.projects #projects-access li a:hover{
  background-color: #76ABAE;
  color: #fff;
}


.projects li{
  height: 42px;
}
.projects a{
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}


.contact{
  width: 100%;
  box-sizing: border-box;
  padding: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 15%;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #b3d3d5; */
  /* background-color: #76ABAE; */
  /* background-color: #76ABAE; */
  background-color: #fff;
  padding-bottom: 90px;
  /* margin-top: 2px; */
}

.contact h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #76ABAE;
  padding-top: 0;
  padding-bottom: 0px;
}

.contact p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;

}

#form-container form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 400px;
}

form label{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  /* padding-left: 5px; */
  color: #222831;
  font-weight: 300;
}

form #name-input, form #email-input{
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 1px;
  border: 1px solid #76ABAE;
  padding: 10px;
  background-color: #fff;
  /* color: #222831; */
  font-size: 15px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

form #name-input:focus, form #email-input:focus, form #message:focus{
  outline: none;
}



form #message{
  width: 100%;
  height: 190px;
  margin-bottom: 20px;
  border-radius: 1px;
  border: 1px solid #96bfc1;
  padding: 10px;
  /* background-color: #fff; */
  color: #222831;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

form #message::placeholder{
  color: #31363F;
  opacity: 0.7;
  font-size: 14px;
}



form .button{
  width: 130px;
  height: 40px;
  padding: auto;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #76ABAE;
  color: #222831;
  transition: background-color 1s ease-out;
}

form .button:hover{
  color: white;
  background-color: #76ABAE;
}

/* form #name, form #email, form #message:hover{
  border-color: #222831;
}  */


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #222831;
}

.footer p{
  color: #76ABAE;
  font-size: 16px;
  font-weight: 300;
}



@media(max-width: 600px){
  .contact{
    /* justify-content: center;
    align-items: center; */
    padding: 30px;
    
  }
  form{
    justify-content: center;
  }
  form #name-input, form #email-input{
    width: 90%;
  }

  form #message{
    width: 90%;
  }

  #form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .footer p{
    font-size: 10px;
  }

  .hero .avatar{
    width: 170px;
    height: 170px;
  }

  form .button{
    font-weight: 300;
  }
  
}


@media(max-width: 1200px){
  .about{
    flex-direction: column;
    padding: 50px;
    gap: 90px;
  }
  .about img{
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .projects{
    flex-direction: column;
    padding: 50px;
    gap: 50px;
  }

  .projects img{
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .projects h1{
    padding-top: 20px;
  }

  
}

/* @media(min-width: 950px){
  .hero{
    flex-direction: column;
    padding: 100px;
  }
} */

@media(max-width: 950px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .hero{
    flex-direction: column;
    padding: 90px 50px 50px 50px; 
  }
  .hero #stacks{
    flex-direction: column;
    padding-bottom: 50px;
  }
  .about{
    padding: 50px;
  }

  .hero span p{
    padding-top: 60px;
  }

  #projects-access a{
    padding: 0 20px;
  }


}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
.projects p{
  text-align: justify;
}

.projects img{
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.contact p{
  width: 250px;
}

.projects #projects-access li a{
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
}

.projects #projects-access{
  flex-direction: column;
  gap: 20px;
}

.hero .avatar{
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#hero-container h1{
  font-size: 40px;
}

.hero{
  padding: 90px 30px 30px 30px;
}

#projects-access li{
  width: 120px;
}



}

@keyframes animateBorder {
  0%{
    border-color: #EEEEEE;
    transform: scale(1)
  }
  50%{
    border-color: #EEEEEE;
    transform: scale(1.2);
  }
  100%{
    border-color: #76ABAE;
    transform: scale(1);
  }
}