<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d5a965c6eb.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navigation -->
  <nav id="nav-section">
    <ul class="sidebar">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
      <li class="list-item"><a href="#hero-section">Home</a></li>
      <li class="list-item"><a href="#about-section">About</a></li>
      <li class="list-item"><a href="#projects-section">Portfolio</a></li>
      <li class="list-item"><a href="#contact-section">Contact</a></li>
    </ul>
    <ul>
      <li><a href="#" id="logo">Gideon.Dev</a></li>
      <li class="list-item hideOnMobile"><a href="#hero-section">Home</a></li>
      <li class="list-item hideOnMobile"><a href="#about-section">About</a></li>
      <li class="list-item hideOnMobile"><a href="#projects-section">Portfolio</a></li>
      <li class="list-item hideOnMobile"><a href="#contact-section">Contact</a></li>
      <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
    </ul>
  </nav>
  <!-- Hero Section-->
  <section id="hero-section">
    <div class="hero">
      <div id="hero-container">
          <h1>Software Developer</h1>
          <p>Hi, I'm Gideon. A passionate Software Developer based in United Kingdom</p>
          <ul id="socials">
            <li><a href="https://www.linkedin.com/in/gideon-o-a-5a0a4b23b/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Gideon1107"><i class="fa-brands fa-square-github"></i></a></li>
            
          </ul>


          <span><p>Tech Stack :</p></span>
          <ul id="stacks">
            <li><a href="">HTML <i class="fa-brands fa-html5"></i></a></li>
            <li><a href="">CSS <i class="fa-brands fa-css3-alt"></i></a></li>
            <li><a href="">PYTHON <i class="fa-brands fa-python"></i></a></li>
            <li><a href="">FLASK <i class="fa-brands"><img src="{{url_for('static', filename='/images/flask.svg')}}" alt="" width="18px" height="18px"></i></a></li>
            <li><a href="">JAVASCRIPT <i class="fa-brands fa-js"></i></a></li>
          </ul>
      </div>
      <div>
        <img src="{{url_for('static', filename='images/avatar.jpg')}}" alt="my picture" class="avatar">
      </div>
    </div>
  </section>
<!-- About Section -->
<section id="about-section">
  <div class="about">
    <div>
      <img src="{{url_for('static', filename= 'images/laptop-about.jpg')}}" alt="">
    </div>

    <div>
      <h1>ABOUT ME</h1>
      <h2>Full-stack Developer based in United Kingdom.</h2>
      <p>Hey there!, My name is Gideon Ayeni, and I'm a Software developer. My passion is to create and develop a clean software, UI/UX and a good back-end server for users. My main stack currently are HTML,CSS in combination with Bootstrap, while using Flask as my back-end.</p>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects-section">
  <div class="projects">
    <div id="projects-header">
      <p id="section-title">Portfolio</p>
      <img src="{{url_for('static', filename='images/devsblog.png')}}" alt="">
    </div>

    <div>
      <h1>DEVS BLOG</h1>
      <p>Devs blog is a platform for developers to share and offer insights, tips, and perhaps a dash of inspiration to fellow developers, whether seasoned pros or enthusiastic beginners.</p>
      <ul id="projects-stack">
        <li><a href="">Bootstrap</a></li>
        <li><a href="">Flask</a></li>
      </ul>
      <ul id="projects-access">
        <li><a href="https://github.com/Gideon1107/Devs-blog-project">Code <i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://devs-blog.onrender.com/">Live Demo <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
      </ul>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section id="contact-section">
  <div class="contact">
    <div>
      <h1>CONTACT</h1>
      <p>Don't be a stranger! Contact me!</p>
    </div>

    <div id="form-container">
      <form action="{{url_for('contact')}}", method="post" id="contact-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Message" required></textarea>
        
        <input type="submit" value="Send Message" class="button">
      </form>
    </div>
  </div>
</section>

<!-- Footer -->
<section>
  <div class="footer">
    <p>Copyright © 2024. All rights are reserved</p>
  </div>
</section>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>

